<a href="https://colab.research.google.com/github/lynseybwisa/IBM-Machine-Learning/blob/read-data-part-2/Reading_SQL_Files_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
import sqlite3 as sq3
import pandas.io.sql as pds
import pandas as pd

#creating variables

In [12]:
# Create a variable, `path`, containing the path to the `baseball.db` contained in `resources/`
path = 'drive/MyDrive/Colab Notebooks/IBM:Machine Learning Course/data/baseball.db'

#create db connection

In [13]:
con = sq3.Connection(path)

#queries

In [14]:
query = """
SELECT *
    FROM allstarfull
    ;
"""

In [15]:
allstar_observations = pd.read_sql(query, con)

In [16]:
# Create a variable, tables, which reads in all data from the table sqlite_master
all_tables = pd.read_sql('SELECT * FROM sqlite_master', con)
print(all_tables)

    type                  name     tbl_name  rootpage  \
0  table           allstarfull  allstarfull         2
1  index  ix_allstarfull_index  allstarfull         3
2  table               schools      schools        26
3  index      ix_schools_index      schools        31
4  table               batting      batting        99
5  index      ix_batting_index      batting       100

                                                 sql
0  CREATE TABLE "allstarfull" (\n"index" INTEGER,...
1  CREATE INDEX "ix_allstarfull_index"ON "allstar...
2  CREATE TABLE "schools" (\n"index" INTEGER,\n  ...
3  CREATE INDEX "ix_schools_index"ON "schools" ("...
4  CREATE TABLE "batting" (\n"index" INTEGER,\n  ...
5  CREATE INDEX "ix_batting_index"ON "batting" ("...

In [17]:
#  Join and analyze the tables to evaluate the top 3 all time best baseball players
best_query = """
SELECT playerID, sum(GP) AS num_games_played, AVG(startingPos) AS avg_starting_position
    FROM allstarfull
    GROUP BY playerID
    ORDER BY num_games_played DESC, avg_starting_position ASC
    LIMIT 3
"""

In [18]:
best = pd.read_sql(best_query, con)
print(best.head())

    playerID  num_games_played  avg_starting_position
0  musiast01              24.0               6.357143
1   mayswi01              24.0               8.000000
2  aaronha01              24.0               8.470588